body
 {
    
    margin-right: 200px;
    margin-left: 200px;
}
.button
{
    
    margin-bottom: 50px;
    display: inline-block;
    border-color: #4CAF50;
}
#imgChart
{
    position:absolute;
   
    height:200px;width:200px
}